* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #617d8a;
}

img {
  width: 50px;
  height: 50px;
}

#shipBoard,
#fireBoard {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #2b65e3;
}

#message-area {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #617d8a;
  padding: 10px;
}

#message-area h2 {
  text-align: center;
  margin-bottom: 20px;
}

#message-area label {
  font-size: 20px;
}

#message-area input {
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.playerButtons {
  display: block;
  margin: auto;
  padding: 10px;
  width: 30%;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  font-weight: bold;
}

#user-chat-box {
  height: 100px;
  max-width: 600px;
  overflow-y: scroll;
  padding-right: 20px;
}

#user-chat-box li {
  list-style-type: none;
}
