* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 22px !important;
}
h3 {
  font-size: 20px !important;
}

body {
  background: #617d8a;
}

#shipBoard,
#fireBoard {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #2b65e3;
}

#taunt {
  margin: 15px;
}

#message-area {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: #617d8a;
  padding: 10px;
  height: 400px;
}

img {
  width: 25px;
  height: 20px;
  text-align: center;
}

.buttonWaves {
  background-image: url("assets/wave.jpeg");
}

.playerButtons {
  display: block;
  margin: auto;
  padding: 10px;
  width: 40%;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  font-weight: bold;
}

#user-chat-box {
  display: block;
  height: 200px;
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  background-color: #333;
}

#user-chat-box li {
  text-overflow: ellipsis;
  list-style-type: none;
  color: white;
  white-space: nowrap;
}

#app {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
