* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #617d8a;
}

img {
  width: 50px;
  height: 50px;
}

#shipBoard,
#fireBoard {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #2b65e3;
}

#message-area {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #617d8a;
  padding: 10px;
}

.playerButtons {
  display: block;
  margin: auto;
  padding: 10px;
  width: 30%;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  font-weight: bold;
}

#user-chat-box {
  display: block;
  height: 200px;
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  background-color: #333;
}

#user-chat-box li {
  text-overflow: ellipsis;
  list-style-type: none;
  color: white;
  white-space: nowrap;
}
